@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CartViewModel

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div class="card">
    <div class="card-body">
        <h4 class="card-title"><span>Products</span></h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>


                @{
                    foreach (var prod in Model.Orders)
                    {


                        if (prod.Status == "Active")
                        {
                            <tr>
                                <td>@prod.Film.FilmName</td>
                                <td>@prod.Film.Price</td>
                                <td>@prod.Film.Discount</td>
                                <td>@prod.Status</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <h3><span title="Total Price" style="font-size:30px;"  class="badge badge-success">Total Price @Model.TotalSum $</span></h3>
            </div>
        </div>
        <h4 class="card-title"><span>History</span></h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Status</th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var prod in Model.Orders)
                    {

                        if (prod.Status != "Active")
                        {
                            <tr>
                                <td>@prod.Film.FilmName</td>
                                <td>@prod.Film.Price</td>
                                <td>@prod.Film.Discount</td>
                                <td>@prod.Status</td>

                            </tr>
                        }
                    }
                }                

    </div>
