
@{
    ViewData["Title"] = "FilmTable";
}

@model List<Cinemateque.Models.FilmViewModel>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Film Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Premiere Date</th>
            <th scope="col">Director</th>
            <th scope="col">Rating</th>
            <th scope="col">User Rating</th>
            <th scope="col">Actors</th>
            <th scope="col">Awards</th>
            <th scope="col">Rate film</th>
        </tr>
    </thead>

    @foreach (var film in Model)
    {



        <tbody>

            <tr>
                <td scope="row">
                    @film.FilmName
                </td>
                <td>@film.Genre</td>
                <td>@film.PremiereDate</td>
                <td>@film.Director</td>
                <td>@film.Rating</td>
                <td>@film.UserRating</td>
                <td>
                    @film.Actors.Aggregate((a, b) => a.ToString() + ", " + b.ToString());
                </td>
                <td>
                    <div class="dropdown">
                        <select onchange="rate(this)" data-assigned-id="@film.FilmId" class="form-control form-control" id="status">
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <option> 4</option>
                            <option> 5 </option>
                        </select>
                    </div>
                </td>
                <td>
                    <button class="btn" onclick="watchLater(this)" data-assigned-id="@film.FilmId">Watch later</button>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <button class="btn" onclick="deleteFilm(this)" data-assigned-id="@film.FilmId">Delete</button>
                    </td>
                }
            </tr>
        </tbody>
    }
            </table>

            <h2>Search</h2>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" id="nameSearch" aria-describedby="nameSearch" placeholder="Search by name">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <input class="form-control" id="genreSearch" aria-describedby="genreSearch" placeholder="Search by genre">
            </div>
            <div class="form-group">
                <label>Actors</label>
                <input class="form-control" id="actorSearch" aria-describedby="actorsSearch" placeholder="Search by actor">
            </div>
            <div class="form-group">
                <label>Director</label>
                <input class="form-control" id="directorSearch" aria-describedby="directorSearch" placeholder="Search by directir">
            </div>
            <button onclick="searchFilm()" class="btn btn-primary">Search</button>

            <script src="~/js/filmScripts.js"></script>