
@{
    ViewData["Title"] = "History";
}

<h2>History</h2>

@model List<Cinemateque.DataAccess.Models.Film>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Film Name</th>
            <th scope="col">Genres</th>
            <th scope="col">Premiere Date</th>
            <th scope="col">Crew</th>
            <th scope="col">Rating</th>
            <th scope="col">User Rating</th>
            <th scope="col">Actors</th>
        </tr>
    </thead>

    @foreach (var film in Model)
    {
        <tbody>
            <tr>
                <td scope="row">
                    @film.FilmName
                </td>
                <td>@film.Genres</td>
                <td>@film.PremiereDate</td>
                <td>@film.Director</td>
                <td>@film.Rating</td>
                <td>@film.Rating</td>
                <td>
                    @film.Actors;
                </td>
            </tr>
        </tbody>
    }
</table>

<script src="~/js/filmScripts.js"></script>