
@{
    ViewData["Title"] = "WatchLater";
}

<h2>WatchLater</h2>

@model List<Cinemateque.DataAccess.Models.Film>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Film Name</th>
            <th scope="col">Genres</th>
            <th scope="col">Premiere Date</th>
            <th scope="col">Crew</th>
            <th scope="col">Rating</th>
            <th scope="col">User Rating</th>
            <th scope="col">Actors</th>
            <th scope="col">Rate film</th>
        </tr>
    </thead>

    @foreach (var film in Model)
    {
        <tbody>
            <tr>
                <td scope="row">
                    @film.FilmName
                </td>
                <td>@film.Genres</td>
                <td>@film.PremiereDate</td>
                <td>@film.Director</td>
                <td>
                    @film.Actors
                </td>
                <td>
                    <div class="dropdown">
                        <select onchange="rate(this)" data-assigned-id="@film.Movieid" class="form-control form-control" id="status">
                            <option> 1 </option>
                            <option> 2 </option>
                            <option> 3 </option>
                            <option> 4</option>
                            <option> 5 </option>
                        </select>
                    </div>
                </td>
                <td>
                    <button class="btn" onclick="watchLater(this)" data-assigned-id="@film.Movieid">Watch later</button>
                </td>
            </tr>
        </tbody>
    }
</table>
<script src="~/js/filmScripts.js"></script>